<!-- MOBILE MENU -->
<section>
    <div class="ed-mob-menu">
        <div class="ed-mob-menu-con">
            
            <div class="ed-mm-left">
                <div class="ed-mm-menu">
                    <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                    <div class="ed-mm-inn">
                        <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                        <h4>Toutes les pages</h4>
                        <ul>
                            <li><a href="dashboard.html">Qui suis-je ?</a>
                            </li>
                            <li><a href="about.html" class="mm-arr">À propos</a>
                            </li>
                            <li><a href="all-courses.html">Forum</a></li>
                            </li>
                            <li><a href="contact-us.html">Contact</a>
                            </li>                               
                        </ul>
                        <h4>User Account</h4>
                        <ul>
                            <li><a href="event-register.html"><i class="fa fa-user" aria-hidden="true"></i>&ensp;Espace Etudiant</a>
                            </li>
                        </ul>
                        <h4>User Profile</h4>
                        <ul>
                            <li><a href="dashboard.html">User profile</a></li>
                            <li><a href="db-courses.html">Courses</a></li>
                            <li><a href="db-exams.html">Exams</a></li>
                            <li><a href="db-profile.html">Prfile</a></li>
                            <li><a href="db-time-line.html">Time line</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ed-mm-right">
                <div class="wed-logo">
                    <a href="index-2.html"><img src="images/logo.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--HEADER SECTION-->
<section>
    <!-- TOP BAR -->
    <div class="ed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ed-com-t1-left">
                        <ul>
                            <li><a href="mailto:bestcanada@hotmail.ca"><i class="fa fa-envelope" aria-hidden="true"></i> : info@bestcanada.com</a>
                            </li>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> : +101-1231-1231</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ed-com-t1-right">
                        <ul>
                            <li>
                                <a href="events.html">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ed-com-t1-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGO AND MENU SECTION -->
    <div class="top-logo" data-spy="affix" data-offset-top="250">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li><a href="dashboard.html">Qui suis-je ?</a>
                            </li>
                            <li><a href="about.html" class="mm-arr">À propos</a>
                            </li>
                            <li><a href="facilities.html">Forum</a>
                            </li>
                            <li><a href="contact-us.html">Contact</a>
                            </li>
                            <li><a href="#!" data-toggle="modal" data-target="#modal2"><i class="fa fa-user" aria-hidden="true"></i>&ensp;Espace Etudiant</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="all-drop-down-menu">

                </div>

            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->