<app-header></app-header>
<section>
    <div class="head-2">
        <div class="container">
            <div class="head-2-inn head-2-inn-padd-top">
                <h1>List of Forum</h1>
            </div>
        </div>
    </div>
</section>	

<!--SECTION START-->
<section>
    <div class="ed-res-bg">
    <div class="container com-sp pad-bot-70 ed-res-bg">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-rsear">
                    <div class="ed-rsear-in">
                        <ul>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="events.html">Design and Technology Suite</a></h4>
                                    </div>
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="images/facilities/1.jpg" alt="">
                                    </div>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="events.html">Science Laboratories</a></h4>
                                    </div>
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="images/facilities/2.jpg" alt="">
                                    </div>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="events.html">Multi-Purpose Sports Hall</a></h4>
                                    </div>
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="images/facilities/3.jpg" alt="">
                                    </div>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="ed-rese-grid">
                                    <div class="ed-rsear-dec ed-faci-full-bot">
                                        <h4><a href="events.html">Design and Technology Suite</a></h4>
                                    </div>
                                    <div class="ed-rsear-img ed-faci-full-top">
                                        <img src="images/facilities/4.jpg" alt="">
                                    </div>
                                    
                                </div>
                            </li>
                        </ul>
                            <div class="forum">
                                <a href="events.html" class="read-line-btn">Accés réséré aux inscrits</a>
                            </div>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<app-footer></app-footer>