<div class="sb2-1">
            <!--== USER INFO ==-->
            <div class="sb2-12">
                <ul>
                    <li><img src="../../../../assets/images/placeholder.jpg" alt="">
                    </li>
                    <li>
                        <h5>Victoria Baker</h5>
                    </li>
                    <li></li>
                </ul>
            </div>
            <!--== LEFT MENU ==-->
            <div class="sb2-13">
                <ul class="collapsible" data-collapsible="accordion">
                    <li><a routerLink="/Dashboard" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Tableau de Bord</a>
                    </li>
                    <li><a routerLink="javascript:void(0)" class="collapsible-header"><i class="fa fa-users" aria-hidden="true"></i> Étudiants</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="/User">• Tous les étudiants</a>
                                </li>
                                <li><a routerLink="/Add-User">• Ajouter de nouveaux étudiants</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a routerLink="javascript:void(0)" class="collapsible-header"><i class="fa fa-calendar" aria-hidden="true"></i> Article</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="/Article">• Tous les articles</a>
                                </li>
                                <li><a routerLink="Add-Article">• Créer un nouvel article</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a routerLink="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Cours</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="/Course">• Tous les cours</a>
                                </li>
                                <li><a routerLink="/Add-Course">• Ajouter un nouveau cours</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a routerLink="javascript:void(0)" class="collapsible-header"><i class="fa fa-pencil" aria-hidden="true"></i> Horaires des examens</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="/Exam">• Tous les examens</a></li>
                                <li><a routerLink="/Add-Exam">• Ajouter un nouvel examen</a></li>
                            </ul>
                        </div>
                    </li>                        
                </ul>
            </div>
</div>