<div class="container-fluid sb1">
    <div class="row">
        <!--== LOGO ==-->
        <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
            <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
            <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a>
            <a href="index-2.html" class="logo"><img src="assets/images/logo1.png" alt="" />
            </a>
        </div>
        <!--== SEARCH ==-->
        <div class="col-md-6 col-sm-6 mob-hide">
            <form class="app-search">
                <input type="text" placeholder="Search..." class="form-control">
                <a href="#"><i class="fa fa-search"></i></a>
            </form>
        </div>
        <!--== MY ACCCOUNT ==-->
        <div class="col-md-2 col-sm-3 col-xs-6" style="float: right;">
            <!-- Dropdown Trigger -->
            <a class='waves-effect dropdown-button top-user-pro' href='#' data-activates='top-menu'><img src="assets/images/user/6.png" alt="" />Mon compte <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

            <!-- Dropdown Structure -->
            <ul id='top-menu' class='dropdown-content top-menu-sty'>
                <li><a href="admin-panel-setting.html" class="waves-effect"><i class="fa fa-cogs" aria-hidden="true"></i>Mon Profil</a>
                </li>
                <li class="divider"></li>
                <li><a href="#" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--== BODY CONTNAINER ==-->
<div class="container-fluid sb2">
    <div class="row">
        <div class="sb2-1">
            <!--== USER INFO ==-->
            <div class="sb2-12">
                <ul>
                    <li><img src="assets/images/placeholder.jpg" alt="">
                    </li>
                    <li>
                        <h5>Victoria Baker</h5>
                    </li>
                    <li></li>
                </ul>
            </div>
            <!--== LEFT MENU ==-->
            <div class="sb2-13">
                <ul class="collapsible" data-collapsible="accordion">
                    <li><a href="admin.html" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Tableau de Bord</a>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-users" aria-hidden="true"></i> Étudiants</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a href="admin-user-all.html">• Tous les étudiants</a>
                                </li>
                                <li><a href="admin-user-add.html">• Ajouter de nouveaux étudiants</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-calendar" aria-hidden="true"></i> Article</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a href="admin-event-all.html">• Tous les articles</a>
                                </li>
                                <li><a href="admin-event-add.html">• Créer un nouvel article</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Cours</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a href="admin-all-courses.html">• Tous les cours</a>
                                </li>
                                <li><a href="admin-add-courses.html">• Ajouter un nouveau cours</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-pencil" aria-hidden="true"></i> Horaires des examens</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a href="admin-exam-all.html">• Tous les examens</a></li>
                                <li><a href="admin-exam-add.html">• Ajouter un nouvel examen</a></li>
                            </ul>
                        </div>
                    </li>                        
                </ul>
            </div>
        </div>

        <!--== BODY INNER CONTAINER ==-->
        

    </div>
</div>