<section class="c-all p-semi">
    <div class="semi-inn">
        <div class="semi-com semi-left">
            <div class="all-title quote-title qu-new semi-text eve-reg-text">
                <h2>Inscription en ligne</h2>
                <p>L'inscription administrative est obligatoire, annuelle et personnelle.</p>
                <div class="semi-deta eve-deta">
                    <ul>
                        <li>DATE:<span>{{today | date:'fullDate'}}</span></li>
                        <li>Time:<span>{{today | date:'longTime'}}</span></li>
                        <li>Location:<span>{{City}}, {{Country}}</span></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="semi-com semi-right">
            <div class="n-form-com semi-form">
                <div class="col s12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Nom" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="number" class="form-control" placeholder="Téléphone" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                    <select>
                                        <option value="" disabled selected>Selectionné une Formation</option>
                                        <option value="1">Formation 1</option>
                                        <option value="1">Formation 2 </option>
                                    </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="Mot de passe">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="Confirmer le mot de passe">
                            </div>
                        </div>
                        <div class="form-group mar-bot-0">
                            <div class="col-md-12">
                                <i class="waves-effect waves-light light-btn waves-input-wrapper" style="background: #DFC04F;"><input type="submit" value="inscrit" class="waves-button-input"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>