<div class="sb2-2">

    <div class="sb2-2-2">
        <ul>
            <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Tableau de bord</a>
            </li>
            <li class="active-bre"><a href="#"> Ajouter un nouvel étudiant</a>
            </li>
        </ul>
    </div>
    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
            <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Ajouter de nouvelles informations sur les étudiants</h4>
                    </div>
                    <div class="tab-inn">
                        <form>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" class="validate" required>
                                    <label class="">Prénom</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="text" class="validate" required>
                                    <label class="">Nom</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="number" class="validate" required>
                                    <label class="">Téléphone</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="email" class="validate" required>
                                    <label class="">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="password" class="validate">
                                    <label class="">Mot de passe</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="password"  class="validate">
                                    <label class="">Confirmez le mot de passe</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <select class="validate">
                                        <option value="" selected disabled hidden>Choisir la formation</option>
                                        <option value="1">Formation 1 </option>
                                        <option value="2">Formation 2 </option>
                                      </select>
                                </div>
                            </div>
                           <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>