<section>
    <div class="stu-db">
        <div class="container pg-inn">
            <div class="col-md-3">
                <div class="pro-user-bio">
                    <ul>
                        <li ><a href="db-courses.html" class="pro-act-cours">Mes Cours</a></li>
                        <li><a href="db-profile.html">Profil</a></li>
                        <li><a href="db-mot-passe.html">Mot De Passe</a></li>
                        <li><a href="db-time-line.html">Certificats</a></li>
                        <li><a href="db-notification.html">Notifications</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="udb">
                    <div class="udb-sec udb-cour">
                        <h4><img src="images/icon/db2.png" alt="" /> Booking Courses</h4>
                        <div class="sdb-cours">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="images/course/3.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">Duration:150 Days</span> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>Master of Science</h5>
                                                <p>Illinois City,</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="images/course/4.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">Duration:60 Days</span> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>Java Programming</h5>
                                                <p>Illinois City,</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="images/course/5.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">Duration:30 Days</span> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>Aeronautical Engineering</h5>
                                                <p>Illinois City,</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="images/course/3.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">Duration:20 Days</span> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>Master of Science</h5>
                                                <p>Illinois City,</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="udb-sec udb-cour">
                        <h4><img src="images/icon/online-course.png" alt="" /> Booking Courses</h4>
                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.The point of using Lorem Ipsummaking it look like readable English.</p>
                        <div class="sdb-cours">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="images/course/3.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">Duration:150 Days</span> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>Master of Science</h5>
                                                <p>Illinois City,</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="images/course/4.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">Duration:60 Days</span> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>Java Programming</h5>
                                                <p>Illinois City,</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="images/course/5.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">Duration:30 Days</span> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>Aeronautical Engineering</h5>
                                                <p>Illinois City,</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="images/course/3.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">Duration:20 Days</span> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>Master of Science</h5>
                                                <p>Illinois City,</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>