
<app-menu-bar></app-menu-bar>
<div class="container-fluid sb2">
    <div class="row">
        <app-menu></app-menu>
        <!--== BODY INNER CONTAINER ==-->
        <div class="sb2-2">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a routerLink="/Dashboard"><i class="fa fa-home" aria-hidden="true"></i> Tableau de bord</a>
                    </li>
                    <li class="active-bre"><a routerLink="#"> Ajouter un examen</a>
                    </li>
                </ul>
            </div>
        
            <!--== User Details ==-->
            <div class="sb2-2-3">
                <div class="row">
                    <div class="col-md-12">
                    <div class="box-inn-sp admin-form">
                            <div class="inn-title">
                                <h4>Nouvel examen</h4>
                            </div>
                            <div class="tab-inn">
                                <form>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input type="text" class="validate" required>
                                            <label class="">Nom de l'examen</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <select class="validate">
                                                <option selected disabled hidden>Choisir le cour</option>
                                                <option value="1">cour 1 </option>
                                                <option value="2">cour 2 </option>
                                                <option value="1">cour 3 </option>
                                                <option value="2">cour 4 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea></textarea>
                                            <label class="">Description</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input type="datetime" class="validate" required>
                                            <label class="">Date</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text"  class="validate">
                                            <label>La Durée</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="file-field input-field col s6">
                                            <div class="btn admin-upload-btn">
                                                <span>Fichier</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="Guide de l'examen">
                                            </div>
                                        </div>
                                        <div class="file-field input-field col s6">
                                            <div class="btn admin-upload-btn">
                                                <span>Fichier</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="Fichier de l'examen">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input" value="Submit"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>