
<app-menu-bar></app-menu-bar>
<div class="container-fluid sb2">
    <div class="row">
        <app-menu></app-menu>
        <!--== BODY INNER CONTAINER ==-->
        <div class="sb2-2">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a routerLink="/Dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>
                    <li class="active-bre"><a routerLink="#"> Tous les examens</a>
                    </li>
                </ul>
            </div>
        
            <!--== User Details ==-->
            <div class="sb2-2-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inn-sp">
                            <div class="inn-title">
                                <h4>Calendrier des examens</h4>
                            </div>
                            <div class="tab-inn">
                                <div class="table-responsive table-desi">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nom de l'examen</th>
                                                <th>Le Cour</th>
                                                <th>Date</th>
                                                <th>La Durée</th>
                                                <th>Modifier</th>
                                                <th>Supprimer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Semester 1</td>
                                                <td>Cour 1 </td>
                                                <td>28 May 2018</td>
                                                <td>03:00</td>
                                                <td><a routerLink="/Edit-Exam" class="ad-st-view">Modifier</a></td>
                                                <td><a routerLink="#"><i class="fa fa-trash" title="Supprimer" aria-hidden="true"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>