<section>
    <div class="stu-db">
        <div class="container pg-inn">
            <div class="col-md-3">
                <div class="pro-user-bio">
                    <ul>
                        <li ><a href="db-courses.html">Mes Cours</a></li>
                        <li><a href="db-profile.html">Profil</a></li>
                        <li><a href="db-mot-passe.html" class="pro-act-pass">Mot De Passe</a></li>
                        <li><a href="db-time-line.html">Certificats</a></li>
                        <li><a href="db-notification.html">Notifications</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="udb">
                    <div class="udb-sec udb-cour">
                        <h4><img src="images/icon/password.png" alt=""> My Pass</h4>
                        <div class="box-inn-sp admin-form">
                            <div class="tab-inn1">
                                <form>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input type="password" value="" class="validate">
                                            <label class=""> Encien Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input type="password" value="" class="validate">
                                            <label class=""> Nouveaux Password</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="password" value="" class="validate">
                                            <label class="">Nouveaux Confirm Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>