<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Tableau de bord</a>
            </li>
            <li class="active-bre"><a href="#"> Utilisateurs (étudiants)</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Étudiants</h4>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>identifiant</th>
                                        <th>Nom Complet</th>
                                        <th>Téléphone</th>
                                        <th>Email</th>
                                        <th>Voir</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="list-enq-name">
                                            1</span>
                                        </td>
                                        <td><a href="#"><span class="list-enq-name">Mohammed boukili</span><span class="list-enq-city">Formation 1 </span></a>
                                        </td>
                                        <td>0611225566</td>
                                        <td>chadengle@gmail.com</td>
                                        <td>
                                            <a href="admin-student-details.html" class="ad-st-view">Voir</a>
                                        </td>
                                        <td><a href="#"><i class="fa fa-trash" title="Supprimer" aria-hidden="true"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>