
<app-menu-bar></app-menu-bar>
<div class="container-fluid sb2">
    <div class="row">
        <app-menu></app-menu>
        <!--== BODY INNER CONTAINER ==-->
        <div class="sb2-2">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a routerLink="/Dashboard"><i class="fa fa-home" aria-hidden="true"></i> Tableau de bord</a>
                    </li>
                    <li class="active-bre"><a routerLink="#"> Articles</a>
                    </li>
                </ul>
            </div>
        
            <!--== User Details ==-->
            <div class="sb2-2-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inn-sp">
                            <div class="inn-title">
                                <h4>Tous les articles</h4>
                            </div>
                            <div class="tab-inn">
                                <div class="table-responsive table-desi">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Image</th>
                                                <th>Titre</th>
                                                <th>Date de publication</th>
                                                <th>Forum</th>
                                                <th>Supprimer</th>
                                                <th>Modifier</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><span class="list-img"><img src="images/course/sm-1.jpg" alt=""></span></td>
                                                <td>Admissions Information 2018</td>
                                                <td>21 June 2018</td>
                                                <td>los angeles</td>
                                                <td>
                                                    <a routerLink="/Edit-Article" class="ad-st-view">Voir</a>
                                                </td>
                                                <td><a routerLink="#"><i class="fa fa-trash" title="Supprimer" aria-hidden="true"></i></a></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>