<app-header></app-header>
<section>
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2>Nous <span>  Contacter</span></h2>
                        <p>Nous pouvons être contactés par téléphone pendant les heures d'ouverture locales à notre bureau principal.</p>
                    </div>
                </div>
                <div class="pg-contact">
                    <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                        <h2>Educate <span>Master</span></h2>
                        <p>We Provide Outsourced Software Development Services To Over 50 Clients From 21 Countries.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1"> <img src="img/contact/1.html" alt="">
                        <h4>Address</h4>
                        <p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
                            <br>Landmark : Next To Airport</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con3"> <img src="img/contact/2.html" alt="">
                        <h4>CONTACT INFO:</h4>
                        <p> <a href="tel://0099999999" class="contact-icon">Phone: 01 234874 965478</a>
                            <br> <a href="tel://0099999999" class="contact-icon">Mobile: 01 654874 965478</a>
                            <br> <a href="mailto:mytestmail@gmail.com" class="contact-icon">Email: info@company.com</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con4"> <img src="img/contact/3.html" alt="">
                        <h4>Website</h4>
                        <p> <a href="#">Website: www.mycompany.com</a>
                            <br> <a href="#">Facebook: www.facebook/my</a>
                            <br> <a href="#">Blog: www.blog.mycompany.com</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION END-->

<section >
    <div class="overlay-contact footer-part footer-part-form">
                <div class="map-head">
                    <h4>ENVOYEZ-NOUS MAINTENANT</h4>
                </div>
                <!-- ENQUIRY FORM -->
                <form id="contact_form" name="contact_form" action="http://rn53themes.net/themes/demo/education-master/send.php">
                    <ul>
                        <div class="row">
                        <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                            <input type="text" name="sujet" value="" placeholder="Sujet" required=""> </li>
                        <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                            <input type="text" name="name" value="" placeholder="Nom" required=""> </li></div>
                        <div class="row">
                        <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                            <input type="email" name="email" value="" placeholder="E-mail" required=""> </li>
                        <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                            <input type="phone" name="phone" value="" placeholder="Téléphone" required=""> </li></div>
                        <div class="row">
                        <li class="col-md-12 col-sm-12 col-xs-12 contact-input-spac">
                            <textarea name="comments"  required="" placeholder="Votre message"></textarea>
                        </li></div>
                        <div class="row">
                         <li class="col-md-6">
                        <input type="submit" value="Envoyer" id="submit" name="submit" class="btn color medium " />
                             </li></div>    
                    </ul>
                </form>
            </div>

</section>
<app-footer></app-footer>