<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Tableau de bord</a>
            </li>
            <li class="active-bre"><a href="#"> Articles</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Tous les articles</h4>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Image</th>
                                        <th>Titre</th>
                                        <th>Date de publication</th>
                                        <th>Forum</th>
                                        <th>Supprimer</th>
                                        <th>Modifier</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><span class="list-img"><img src="images/course/sm-1.jpg" alt=""></span></td>
                                        <td>Admissions Information 2018</td>
                                        <td>21 June 2018</td>
                                        <td>los angeles</td>
                                        <td><a href="#"><i class="fa fa-trash" title="Supprimer" aria-hidden="true"></i></a></td>
                                        <td>
                                            <a href="admin-event-edit.html" class="ad-st-view">Voir</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>