@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat
}

.wrapper {
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}

.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #edce4b;
    margin-bottom: 15px;
}
.login100-form-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.login100-form-avatar img {
    width: 100%;
}
.h4 {
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #edce4b;
    color: #edce4b
}

.input-field:hover {
    color: #a08c34;
    border: 1px solid #a08c34
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 0 0 0 20px;
    color: #464646;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}
.btn{
    box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0);
}
.btn.btn-block {
    border-radius: 20px;
    background-color: #edce4b;
    color: #fff;
    font-size: 15px;
}

.btn.btn-block:hover {
    background-color: #a08c34
}

@media(max-width: 575px) {
    .wrapper {
        margin: 10px
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px
    }

    .option {
        position: relative;
        padding-left: 22px
    }

    .option label.text-muted {
        font-size: 0.95rem
    }

    .checkmark {
        position: absolute;
        top: 2px
    }

    .option .checkmark:after {
        top: 50%
    }

    #forgot {
        font-size: 0.95rem
    }
}