<section>
    <div class="container com-sp">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2>Article<span> Suite</span></h2>
                    </div>
                    <div style="margin-top: 100px;">
                        <div class="col-lg-9">
                            <div class="posts-holder pr-25">
                                <!-- ARTICLE #1 -->
                                <div class="article-3 row d-flex align-items-center b-bottom">																						
                                   <!-- Article Preview -->
                                   <div class="col-md-4"> 
                                       <img class="img-fluid" src="images/blog/2.jpg" alt="article-preview">	
                                   </div>					
                                       
                                   <!-- Article Text -->		
                                   <div class="col-md-8">	
       
                                       <!-- Title -->
                                       <h4 class="h4-sm">
                                           <a href="single-post.html">Ligula varius magna porta a pretium</a>
                                       </h4>	
       
                                       <!-- Post Author -->
                                       <span>March 11, 2020 - By Joel Peterson</span>	
       
                                       <!-- Text -->
                                       <p>Vitae auctor integer a congue magna undo pretium at purus pretium ligula a rutrum luctus
                                          risus and ultrice blandit justo and purus ipsum neque dolor primis libero tempus, tempor 
                                          posuere ligula...
                                       </p>            
                                   </div>	
                                                       
                               </div>	<!-- END ARTICLE #1 -->	
       
       
                               <!-- ARTICLE #2 -->
                                <div class="article-3 row d-flex align-items-center b-bottom">																						
                                   <!-- Article Preview -->
                                   <div class="col-md-4"> 
                                       <img class="img-fluid" src="images/blog/2.jpg" alt="article-preview">	
                                   </div>					
                                       
                                   <!-- Article Text -->		
                                   <div class="col-md-8">	
       
                                       <!-- Title -->
                                       <h4 class="h4-sm">
                                           <a href="single-post.html">20 magna undo at purus pretium</a>
                                       </h4>	
       
                                       <!-- Post Author -->
                                       <span>March 04, 2020 - By Jennifer K.</span>	
       
                                       <!-- Text -->
                                       <p>Integer a congue magna undo pretium at purus pretium ligula and rutrum luctus risus and 
                                          ultrice blandit justo purus ipsum neque dolor primis libero tempus, tempor posuere 
                                          ligula varius impedit...
                                       </p>            
                                   </div>	
                                                       
                               </div>	<!-- END ARTICLE #2 -->	
       
       
                               <!-- ARTICLE #3 -->
                                <div class="article-3 row d-flex align-items-center b-bottom">																						
                                   <!-- Article Preview -->
                                   <div class="col-md-4"> 
                                       <img class="img-fluid" src="images/blog/2.jpg" alt="article-preview">	
                                   </div>					
                                       
                                   <!-- Article Text -->		
                                   <div class="col-md-8">	
       
                                       <!-- Title -->
                                       <h4 class="h4-sm">
                                           <a href="single-post.html">12 dolor primis libero tempus ligula at varius magna porta a pretium</a>
                                       </h4>	
       
                                       <!-- Post Author -->
                                       <span>February 24, 2020 - By Michael Deal</span>	
       
                                       <!-- Text -->
                                       <p>Vitae auctor integer a congue magna undo pretium at purus pretium ligula a rutrum luctus
                                          risus and ultrice blandit justo purus ipsum...
                                       </p>            
                                   </div>	
                                                       
                               </div>	<!-- END ARTICLE #3 -->	
       
       
                               <!-- ARTICLE #4 -->
                                <div class="article-3 row d-flex align-items-center">																						
                                   <!-- Article Preview -->
                                   <div class="col-md-4"> 
                                       <img class="img-fluid" src="images/blog/2.jpg" alt="article-preview">	
                                   </div>					
                                       
                                   <!-- Article Text -->		
                                   <div class="col-md-8">	
       
                                       <!-- Title -->
                                       <h4 class="h4-sm">
                                           <a href="single-post.html">Ultrice eTreeks justo purus ipsum igula varius magna porta a pretium</a>
                                       </h4>	
       
                                       <!-- Post Author -->
                                       <span>February 19, 2020 - By Aaron Wall</span>	
       
                                       <!-- Text -->
                                       <p>Pretium at purus pretium ligula and rutrum luctus risus undo ultrice blandit justo purus
                                          ipsum neque dolor primis libero tempus...
                                       </p> 
       
                                   </div>	
                                                       
                               </div>	<!-- END ARTICLE #4 -->	
       
       
                            </div>
                            <div class="pg-pagina">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#!"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                </ul>
        
                            </div>
                        </div>	<!-- END BLOG POSTS HOLDER -->
                        <!-- SIDEBAR -->
                       <aside id="sidebar" class="col-lg-3">
                           <!-- BLOG CATEGORIES --> 
                           <div class="blog-categories sidebar-div mb-50">
                               <ul class="blog-category-list clearfix" style="padding-left: revert;">
                                   <li><a href="#">eTreeks News</a> <span>(36)</span></li>
                                   <li><a href="#">Students & Instructors</a> <span>(81)</span></li>
                                   <li><a href="#">Ideas & Opinions</a> <span>(76)</span></li>
                                   <li><a href="#">Education Process</a> <span>(143)</span></li>
                               </ul>
                           </div>
                       </aside>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>