<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Tableau de bord</a>
            </li>
            <li class="active-bre"><a href="#"> Ajouter un Article</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
            <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Ajouter un Article</h4>
                    </div>
                    <div class="tab-inn">
                        <form>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" class="validate" required>
                                    <label class="">Titre</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea></textarea>
                                    <label class="">Description</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="datetime" class="validate" required>
                                    <label class="">Date</label>
                                </div>
                                <div class="input-field col s6">
                                    <select class="validate">
                                        <option selected disabled hidden>Choisir la Forum</option>
                                        <option value="1">Forum 1 </option>
                                        <option value="2">Forum 2 </option>
                                        <option value="1">Forum 3 </option>
                                        <option value="2">Forum 4 </option>
                                      </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="file-field input-field col s12">
                                    <div class="btn admin-upload-btn">
                                        <span>Image</span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Image de l'article">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>