    <!-- SLIDER dooooonnnnne -->
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slider1 active">
                    <img src="images/slider/1.jpg" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Welcome to <span>University</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#!" data-toggle="modal" data-target="#modal1" class="bann-btn-1">Candidature</a>
                    </div>
                </div>
                <div class="item">
                    <img src="images/slider/2.jpg" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Admission open <span>2022</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#!" data-toggle="modal" data-target="#modal1" class="bann-btn-1">Candidature</a>
                    </div>
                </div>
                <div class="item">
                    <img src="images/slider/3.jpg" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Education <span>Master</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#!" data-toggle="modal" data-target="#modal1" class="bann-btn-1">Candidature</a>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-chevron-left slider-arr"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-chevron-right slider-arr"></i>
            </a>
        </div>
    </section>

    <!-- NEWS  -->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="col-md-6">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <img src="images/course/sm-1.jpg"alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 style="margin-top: -2px;margin-bottom: 30px;">Comment ça marche ?</h3>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Le mot de la formation</div>
                            <div class="collapsible-body cor-tim-tab">
                                <h4>First Year Courses</h4>
                                <ul>
                                    <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</li>
                                    <li>Anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</li>
                                    <li>Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem</li>
                                    <li>Nullam tincidunt urna non porttitor luctus. Suspendisse sem urna, auctor ac commodo eu, bibendum sed nulla.</li>
                                </ul>
                                <h4>Assessment</h4>
                                <ul>
                                    <li>Three written papers form the First University Examination, together with a submitted portfolio of two exam essays of 2,000 words for Introduction to English Language and Literature.</li>
                                    <li>All exams must be passed, but marks do not count towards the final degree.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Ma Formation</div>
                            <div class="collapsible-body cor-tim-tab">
                                <h4>Second Year Courses</h4>
                                <ul>
                                    <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</li>
                                    <li>Anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</li>
                                    <li>Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem</li>
                                </ul>
                                <h4>Assessment</h4>
                                <ul>
                                    <li>Three written papers form the First University Examination, together with a submitted portfolio of two exam essays of 2,000 words for Introduction to English Language and Literature.</li>
                                    <li>All exams must be passed, but marks do not count towards the final degree.</li>
                                    <li>Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Mes cours & Mes exercices</div>
                            <div class="collapsible-body cor-tim-tab">
                                <h4>Third Year Courses</h4>
                                <ul>
                                    <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</li>
                                    <li>Anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</li>
                                </ul>
                                <h4>Assessment</h4>
                                <ul>
                                    <li>Three written papers form the First University Examination, together with a submitted portfolio of two exam essays of 2,000 words for Introduction to English Language and Literature.</li>
                                    <li>All exams must be passed, but marks do not count towards the final degree.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Mon diplome</div>
                            <div class="collapsible-body cor-tim-tab">
                                <h4>Third Year Courses</h4>
                                <ul>
                                    <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</li>
                                    <li>Anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</li>
                                </ul>
                                <h4>Assessment</h4>
                                <ul>
                                    <li>Three written papers form the First University Examination, together with a submitted portfolio of two exam essays of 2,000 words for Introduction to English Language and Literature.</li>
                                    <li>All exams must be passed, but marks do not count towards the final degree.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Mon suivi personnalisé</div>
                            <div class="collapsible-body cor-tim-tab">
                                <h4>Third Year Courses</h4>
                                <ul>
                                    <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</li>
                                    <li>Anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</li>
                                </ul>
                                <h4>Assessment</h4>
                                <ul>
                                    <li>Three written papers form the First University Examination, together with a submitted portfolio of two exam essays of 2,000 words for Introduction to English Language and Literature.</li>
                                    <li>All exams must be passed, but marks do not count towards the final degree.</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="input-field col" style="margin-top: 40px;">
                        <i class="waves-effect waves-light light-btn waves-input-wrapper" style="">
                            <a href="#!" data-toggle="modal" data-target="#modal1" class="chref">Candidature</a>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- NEWS AND EVENTS doooooonnnnneeee -->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="con-title">
                    <h2>Former des professionenels en<span> relation d'aide</span></h2>
                    <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <h4 style="text-align: center;">Centre de formation</h4>
                        <img data-caption="Education master image captions" src="images/ami/8.jpg" alt="">
                        <p style="text-align: center;">Maecenas finibus neque a tellus auctor mattis. Aliquam tempor varius ornare. Maecenas dignissim leo leo, nec posuere purus finibus vitae.</p>
                        <p style="text-align: center;">Quisque vitae neque at tellus malesuada convallis. Phasellus in lectus vitae ex euismod interdum non a lorem. Nulla bibendum. Curabitur mi odio, tempus quis risus cursus.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <h4 style="text-align: center;">Formation certifiante</h4>
                        <img data-caption="Education master image captions" src="images/ami/8.jpg" alt="">
                        <p style="text-align: center;">Maecenas finibus neque a tellus auctor mattis. Aliquam tempor varius ornare. Maecenas dignissim leo leo, nec posuere purus finibus vitae.</p>
                        <p style="text-align: center;">Quisque vitae neque at tellus malesuada convallis. Phasellus in lectus vitae ex euismod interdum non a lorem. Nulla bibendum. Curabitur mi odio, tempus quis risus cursus.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <h4 style="text-align: center;">Perfectionnement</h4>
                        <img data-caption="Education master image captions" src="images/ami/8.jpg" alt="">
                        <p style="text-align: center;">Maecenas finibus neque a tellus auctor mattis. Aliquam tempor varius ornare. Maecenas dignissim leo leo, nec posuere purus finibus vitae.</p>
                        <p style="text-align: center;">Quisque vitae neque at tellus malesuada convallis. Phasellus in lectus vitae ex euismod interdum non a lorem. Nulla bibendum. Curabitur mi odio, tempus quis risus cursus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- EVENTS doooooonnnnneeee -->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Notre démarche de <span>la relation d'aide</span></h2>
                    <p style="font-weight: 400;">On a besoin Vous !</p>
                </div>
            </div>
            <div class="row">
                <div class="ed-course">
                    <div class="ho-ev-latest ho-ev-latest-bg-2">
                        <div class="ho-lat-ev">
                                <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- POPULAR dooooonnnnne -->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="con-title">
                    <h2>Vos objectifs en <span>Relation d'aide</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <img src="images/course/sm-1.jpg"alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                            <p align="justify" style="text-align:justify">Le système d&#39;évaluation évalue vos chances pour immigrer au Canada. Nous
                                sommes conscients de l&#39;importance d&#39;un tel projet d&#39;immigration pour chacun de nos
                                clients. Si vous êtes intéressé à émigrer au Canada, sachez qu’il existe plusieurs
                                programmes d’immigration (80 programmes). Que vous soyez un individu qui veut tout
                                simplement visiter le Canada, un individu en affaires, un travailleur qualifié, un étudiant
                                ou que vous voulez être parrainé par un membre de la famille vivant au Canada, nous
                                pouvons vous aider à obtenir la résidence permanente ou temporaire au Canada.</p>
                            <p align="justify" style="text-align:justify">Remplissez le formulaire d’évaluation gratuite pour vérifier si vous vous qualifiez dans
                                l’un des nombreux programmes d’immigration du Canada.</p>
                            <p align="justify" style="text-align:justify">Le Canada est le deuxième pays au monde par la superficie après la Russie avec un territoire qui s'étend sur 10 millions kilomètres carrés. Elle est aussi la dixième puissance économique et l'un des pays les plus riches.</p>   
                            <div class="input-field col">
                                <i class="waves-effect waves-light light-btn waves-input-wrapper" style="">
                                    <a href="#!" data-toggle="modal" data-target="#modal1" class="chref">Accéder à mes cours</a>
                                </i>
                            </div>
                </div>
            </div>
        </div>
    </section>

    <!-- DISCOVER MORE -->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="con-title">
                    <h2>Devenir <span>thépeute</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                            <p align="justify" style="text-align:justify">Le système d&#39;évaluation évalue vos chances pour immigrer au Canada. Nous
                                sommes conscients de l&#39;importance d&#39;un tel projet d&#39;immigration pour chacun de nos
                                clients. Si vous êtes intéressé à émigrer au Canada, sachez qu’il existe plusieurs
                                programmes d’immigration (80 programmes). Que vous soyez un individu qui veut tout
                                simplement visiter le Canada, un individu en affaires, un travailleur qualifié, un étudiant
                                ou que vous voulez être parrainé par un membre de la famille vivant au Canada, nous
                                pouvons vous aider à obtenir la résidence permanente ou temporaire au Canada.</p>
                            <p align="justify" style="text-align:justify">Remplissez le formulaire d’évaluation gratuite pour vérifier si vous vous qualifiez dans
                                l’un des nombreux programmes d’immigration du Canada.</p>
                            <p align="justify" style="text-align:justify">Le Canada est le deuxième pays au monde par la superficie après la Russie avec un territoire qui s'étend sur 10 millions kilomètres carrés. Elle est aussi la dixième puissance économique et l'un des pays les plus riches.</p>   
                </div>
                <div class="col-md-6">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <img src="images/course/sm-1.jpg"alt="" />
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <div style="height:100px;"></div>